.bt1.btn-click {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b3aeae;
  --bs-btn-hover-color: rgba(247, 83, 83, 0.5);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: red;
  --bs-btn-active-color: rgba(255, 255, 255, 0.5);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: red;
}
