.color-grey {
  color: rgb(73, 72, 72);
}
.justify-content-space {
  justify-content: space-between;
}
.margin {
  margin: 30px 40px 0px 40px;
}
.pl {
  padding-left: 20px;
}
.p {
  padding: 30px 200px;
}
.color-green {
  color: greenyellow;
}
.border-btn {
  border: 1px solid greenyellow;
}
.btn {
  padding: 0px 50px;
}
.width {
  width: 25%;
}
.wrap {
  flex-wrap: wrap;
}
.gap {
  gap: 10px;
}
.img {
  width: 100%;
  border-radius: 50%;
}
.w-img {
  width: 20%;
  margin-right: 10px;
}
