.text-center {
  text-align: center;
}
.width-img {
  width: 25%;
}
.border-radius {
  border-radius: 50%;
  height: 100%;
}
.margin-auto {
  text-align: center;
}
.input {
  width: 80%;
}
.padding {
  padding: 10px 15px;
  border: 1px solid grey;
}
.padding-btn {
  padding: 10px 50px;
}
.bg-btn {
  background-color: blue;
  border: unset;
}
.color-white {
  color: white;
}
