.width {
  width: 100%;
}
.btn.btn-submit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2b2b2b;
  --bs-btn-hover-color: rgba(247, 83, 83, 0.5);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: red;
  --bs-btn-active-color: rgba(255, 255, 255, 0.5);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: red;
}
